/*
 * WYMeditor : what you see is What You Mean web-based editor
 * Copyright (C) 2006 H.O.net - http://www.honet.be/
 * Dual licensed under the MIT (MIT-license.txt)
 * and GPL (GPL-license.txt) licenses.
 *
 * For further information visit:
 * 		http://www.wymeditor.org/
 *
 * File Name:
 *		display.css
 *		Default feedback styles.
 *		See the documentation for more info.
 *
 * File Authors:
 * 		Daniel Reszka (d.reszka@wym-editor.org)
 *
 * Contributors:
 * 		Maxime Caron (maxime.caron@gmail.com)
 *
 * Notes:
 * 		Recommended tab width = 8
 *
*/

/* VISUAL FEEDBACK */

    /* basic */
    	#editor			{ background: #e1e8f1;}
 
    /* make HTML blocs visible */
	#editor p,
	#editor h1,
	#editor h2,
	#editor h3,
	#editor h4,
	#editor h5,
	#editor h6,
	#editor ul,
	#editor ol,
	#editor table,
	#editor blockquote,
	#editor pre		{ background: #FFFFFF no-repeat 2px 2px; padding:8px 5px 5px; margin:10px; }
	#editor td		{ background: #F0F4F8; border: 2px solid white;}
	#editor th		{ background: #ffffcc;}
	#editor ul,
	#editor ol		{ border-left:20px solid #B9C4D0; padding:0px 5px;}
	#editor caption		{ background: #E4E4B0; padding: 5px; font-weight: bold;}
	#editor table		{ font-size: 12px; width: 90%;}
	#editor td		{ width: 25%;}
	#editor blockquote	{ margin-left: 30px;}
	#editor pre		{ background-color:transparent; border: 1px solid white;}

    /* Gecko min height fix */
    	#editor.iframe p 	{ min-height: 1em;}
    	#editor.iframe td	{ height: 1.6em;}
    
    /* labels */
    	#editor p		{ background-image: url(lbl-p.png);}
	#editor h1		{ background-image: url(lbl-h1.png);}
	#editor h2		{ background-image: url(lbl-h2.png);}
	#editor h3		{ background-image: url(lbl-h3.png);}
	#editor h4		{ background-image: url(lbl-h4.png);}
	#editor h5		{ background-image: url(lbl-h5.png);}
	#editor h6		{ background-image: url(lbl-h6.png);}
       	#editor blockquote	{ background-image: url(lbl-blockquote.png);}
       	#editor pre		{ background-image: url(lbl-pre.png);}

    /* specific HTML elements */
	#editor	caption		{ text-align: left;}
	#editor img            	{ margin-right: 5px; border-style: solid; border-color: gray; border-width: 0;}
	#editor a img		{ border-width: 1px; border-color: blue;}
	#editor acronym		{ border: 1px solid gray;}

    /* custom classes display */
    	#editor .important 	{ color:red; font-weight:bold; border: 1px solid red;}
	#editor	.hidden-note	{ color:#aaa;}
	#editor	.hidden-note *	{ border-color: #aaa;}
	#editor img.border	{ padding: 4px; background: #ccc;}
	#editor p.date		{ background-color: #ffffcc;}
	#editor p.block		{ border: 2px solid #aaa; background-position: 4px 4px ;}
	#editor p.imglegend	{ border: 1px solid; padding:5px; margin:10px; background-color: #ccffff; font-style: italic;}
	#editor p.imglegend img	{ border: 1px solid gray;}

    /* visual feedback for non-valid nesting of elements*/
    	h1 h1, h1 h2, h1 h3, h1 h4, h1 h5, h1 h6, h1 p, h1 pre, h1 address,
    	h2 h1, h2 h2, h2 h3, h2 h4, h2 h5, h2 h6, h2 p, h2 pre, h2 address,
    	h3 h1, h3 h2, h3 h3, h3 h4, h3 h5, h3 h6, h3 p, h3 pre, h3 address,
    	h4 h1, h4 h2, h4 h3, h4 h4, h4 h5, h4 h6, h4 p, h4 pre, h4 address,
    	h5 h1, h5 h2, h5 h3, h5 h4, h5 h5, h5 h6, h5 p, h5 pre, h5 address,
    	h6 h1, h6 h2, h6 h3, h6 h4, h6 h4, h6 h6, h6 p, h6 pre, h6 address,
    	p h1, p h2, p h3, p h4, p h5, p h6, p pre, p address,
	pre h1, pre h2, pre h3, pre h4, pre h5, pre h6, pre p, pre pre, pre address,
	address h1, address h2, address h3, address h4, address h5, address h6, address p, address pre, address address
	{ background-color: #ff9999 !important; border: 1px solid red !important; font-size: 12px !important; font-weight: normal;}
