/*
 * WYMeditor : what you see is What You Mean web-based editor
 * Copyright (C) 2006 H.O.net - http://www.honet.be/
 * Dual licensed under the MIT (MIT-license.txt)
 * and GPL (GPL-license.txt) licenses.
 *
 * For further information visit:
 * 		http://www.wymeditor.org/
 *
 * File Name:
 *		layout.css
 *		Editor layout css file.
 *		See the documentation for more info.
 *
 * File Authors:
 * 		Daniel Reszka (d.reszka@wym-editor.org)
*/

/* CSS FILE
	AUTHOR:         Daniel Reszka - d.reszka@wym-editor.org
	NOTES:		tab width = 8
*/

/* EDITOR LAYOUT*/

    /* hide gecko editor in IE*/
	/*ie5 & ie6*/    
	* html	#iframe_editor	{ display: none;}
	/*ie7*/ 	 
	*+html	#iframe_editor	{ display: none;}
    /* hide IE editor in gecko + modern browsers*/
	html>body #editor	{ display: none; *display: block}    
    
    /* basic */
	.editor			{ text-align: center }
	.editor #topdiv		{ width: 99%; margin: auto; text-align: left }
	.editor #editor,
	.editor #iframe_editor	{ border: 1px solid gray; height: 450px; width: 79%; overflow: auto }
	.editor textarea	{ border: 1px solid gray; margin: 0 0 10px 0; width: 80% }
	.editor #header		{ overflow: hidden; padding: 0 0 10px 0 }
	.editor a img 		{ border:none }
 * html .editor #header		{ overflow: visible; height: 1% }
	.editor #logo-main	{ float: right }
	acronym			{ border-bottom: 1px dashed gray }

    /* debug */
	#m_debug		{ margin: 0 0 20px 0; font-size: 11px; display: none }
	#m_debug a		{ text-decoration: none; margin-right: 20px }
	#m_debug a:hover	{ background-color: yellow }

    /* toolbars */
	#toolbars		{ overflow: hidden; margin: 0 0 12px 0; font-family: verdana, arial, sans-serif; font-size: 11px }
 * html	#toolbars		{ height: 1%; overflow: visible }
	#toolbars a		{ text-indent: -9999px; text-decoration: none; display: block; float: left; margin: 0 5px; overflow: hidden; height: 24px; width: 24px; background: url(icons.png) no-repeat }
	#toolbars a:hover	{ background-color: yellow }
	#toolbars div 		{ float: left; border: 1px solid gray; margin-right: 0; background: white  }
	#toolbars #m_advanced	{ border: none; background: transparent  }
	#m_table_advanced	{ display: none; }
 * html	#m_table_advanced	{ display: block; }
 *+html	#m_table_advanced	{ display: block; }

    /* panels */
	#panels			{ width: 18%; float: right; font-family: verdana, arial, sans-serif; font-size: 11px }
	#panels a		{ display: block; text-decoration: none; padding: 2px 10px; color: #5A5AA0; font-size: 11px }
	#panels a:hover		{ background-color: yellow }
	#panels a.active	{ background-color: #CCFFFF }
	#panels div		{ border: 1px solid gray; margin: 0px 0 1px 0; background: #F6F8FB }
	#panels h2		{ font-size: 11px; margin: 0 0 5px; padding: 1px 2px; background: gray; color: white; position: relative }
	#panels h3		{ font-size: 10px; margin: 5px 0 2px; padding: 1px 3px 0; color: gray; font-weight: normal; background: #eee }

    /* icons */
	a#m_strong			{ background-position: 0 -384px }
	a#m_italic			{ background-position: 0 -24px }
	a#m_sup				{ background-position: 0 -432px }
	a#m_sub				{ background-position: 0 -456px }
	a#m_ordered_list		{ background-position: 0 -48px }
	a#m_unordered_list		{ background-position: 0 -72px }
   	a#m_table_insert_row_after 	{ background-position: 0 -240px }
	a#m_table_insert_row_before	{ background-position: 0 -264px }
	a#m_table_insert_col_after	{ background-position: 0 -288px }
	a#m_table_insert_col_before	{ background-position: 0 -312px }
	a#m_table_delete_row		{ background-position: 0 -336px }
	a#m_table_delete_col		{ background-position: 0 -360px }
	a#m_html			{ background-position: 0 -192px }
	a#m_preview			{ background-position: 0 -408px }
	a#m_link			{ background-position: 0 -96px }
	a#m_unlink			{ background-position: 0 -168px }
	a#m_image			{ background-position: 0 -120px }
	a#m_table			{ background-position: 0 -144px }
	a#m_word			{ background-position: 0 -168px }
	a#m_undo			{ background-position: 0 -504px;}
	a#m_redo			{ background-position: 0 -528px;}
	a#m_paste			{ background-position: 0 -552px }
  a#m_indent			{ background-position: 0 -576px }                     
	a#m_outdent			{ background-position: 0 -600px } 

    /* special buttons */
	a#m_paragraph,
	a#m_remove_class 		{ font-style: italic }
	
 * html a#m_paste			{ display:none; }
 *+html a#m_paste			{ display:none; }
